
<div class="tah-action">
    <button value="{{encodedValue}}" {{#if shrink}}class='tah-action-button-shrink'{{/if}}>{{name}}{{#if info1}}<div class="tah-info1">{{info1}}</div>{{/if}}{{#if info2}}<div class="tah-info2">{{info2}}</div>{{/if}}{{#if info3}}<div class="tah-info3">{{info3}}</div>{{/if}}</button>
</div>
